<!DOCTYPE html>
<html>
<head>
  <title><%= t('.title') %></title>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div id="header">
  <div class="center">
    <span id="title"><%= t('.title') %></span>
    <span id="subtitle"><%= t('.subtitle') %></span>
  </div>
</div>

<div class="center" id="main">
<%= yield %>
</div>

</body>
</html>
