#encoding: utf-8

<div id="surgeries">
  <% @surgeries.each do |surgery| %>
      <div class="surgery">
        <div class="specialty"><%= surgery.specialty.name %></div>
        <div class="address">
          <p><%= surgery.address.city %></p>

          <p><%= surgery.address.street %></p>
        </div>
        <div class="tlacitko">
          <form method="link" action="calendar.html">
            <input class="button" type="submit" value="Objednat">
          </form>
        </div>
        <div class="name"><%= surgery.name %></div>
        <div class="contacts">
          <p>Tel: <%= surgery.phone %></p>

          <p>Email: <%= surgery.email %></p>

          <p>Web: <a href="http://<%= surgery.web %>"><%= surgery.web %></a></p>
        </div>
        <div class="opening_times">
          <table>
            <% DayOfWeek.to_select.each do |day| %>
                <tr class="opening_times">
                  <td class="width0">
                    <div class="day width0">
                      <div class="bottom width0"><%= day[0] %></div>
                    </div>
                  </td>
                  <% surgery.opening_times.order(:begin).where(day_of_week: (day[1])).each do |opening_time| %>
                      <td class="width1">
                        <div class="time width1">
                          <div class="top width2"><%= opening_time.note %></div>
                          <div class="bottom width1">
                            <div class="one width3"><%= opening_time.begin.strftime('%H:%M')%></div>
                            <div class="two width4">-</div>
                            <div class="three width3"><%= opening_time.end.strftime('%H:%M')%></div>
                          </div>
                        </div>
                      </td>
                  <% end %>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
  <% end %>
</div>
