#encoding: utf-8

<h1>Specializace</h1>
<br>

<%= form_for(@specialty) do |f| %>
    <% if @specialty.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @specialty.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <br>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Jméno' %>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit 'Uložení' %>
    </div>
<% end %>
