#encoding: utf-8

<h1>Specializace</h1>
<br>

<%= form_for(@specialty) do |f| %>
    <% if @specialty.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @specialty.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <br>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Jméno' %>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit 'Uložení' %>
      <% if @specialty.id? %>
        <%= link_to 'Založení nové', new_specialty_path %>
        <%= link_to 'Zrušení', @specialty, data: { confirm: 'Určitě?' }, method: :delete %>
        <%= link_to 'Načtení', edit_specialty_path(@specialty) %>
      <% end %>
      <%= link_to 'Rejstřík', specialties_path %>
    </div>
<% end %>
