#encoding: utf-8

<h1><%= t('activerecord.models.specialty') %></h1>
<br>

<%= form_for(@specialty) do |f| %>
    <% if @specialty.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @specialty.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <br>
    <% end %>

    <div class="field">
      <%= f.label :name, t('activerecord.attributes.specialty.name') %>
      <%= f.text_field :name %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit t('form.save') %>
      <% if @specialty.id? %>
        <%= link_to t('form.insert'), new_specialty_path %>
        <%= link_to t('form.delete'), @specialty, data: { confirm: t('form.delete') }, method: :delete %>
        <%= link_to t('form.load'), edit_specialty_path(@specialty) %>
      <% end %>
      <%= link_to t('form.index'), specialties_path %>
    </div>
<% end %>
