#encoding: utf-8

<h1><%= t('.title') %></h1>
<br>

<%= link_to t('form.insert'), new_specialty_path %>
<br><br>

<table>
  <tr>
    <th><%= t('activerecord.attributes.specialty.name') %></th>
    <th class="link"></th>
    <th class="link"></th>
  </tr>

<% @specialties.each do |specialty| %>
  <tr class="<%= cycle('white_line', 'shadow_line') %>">
    <td><%= specialty.name %></td>
    <td class="link"><%= link_to t('form.update'), edit_specialty_path(specialty) %></td>
    <td class="link"><%= link_to t('form.delete'), specialty, data: { confirm: t('form.sure') }, method: :delete %></td>
  </tr>
<% end %>
</table>
<br>






